.DS_Store
._.DS_Store
.idea
.eclipse
.vscode
*.code-workspace
*~
*.log
*.pyc
*.dump
*.swp
TODO
tags
project.sublime-project

/tmp
/venv
/data
/log

/dev_config/settings.cfg

.env
*.db

data
*.dev

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

