# This file is only used for local development

[Unit]
Description=Fairdata Download Generator
After=network.target

[Service]
UMask=0007
Type=forking
User=download
Group=download
EnvironmentFile=/usr/local/fd/fairdata-download/dev_config/fairdata-download-generator.env
WorkingDirectory=/usr/local/fd/fairdata-download
RuntimeDirectory=fairdata-download-generator
ExecStart=/bin/sh -c '/usr/local/fd/fairdata-download/dev_config/fairdata-download-generator.sh'

[Install]
WantedBy=multi-user.target
