# This file is only used for local development

[Unit]
Description=Fairdata Download Server
Requires=fairdata-download.socket
After=network.target

[Service]
UMask=0007
Type=notify
User=download
Group=download
EnvironmentFile=/usr/local/fd/fairdata-download/dev_config/fairdata-download.env
WorkingDirectory=/usr/local/fd/fairdata-download
ExecStart=/bin/sh -c '${GUNICORN_BIN} --config ${GUNICORN_CONF} download:flask_app'
ExecReload=/bin/kill -s HUP ${MAINPID}
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
