# This file is only used for local development

[Unit]
Description=Fairdata Download Generator
After=network.target

[Service]
UMask=0007
Type=forking
User=download
Group=download
EnvironmentFile=/opt/fairdata/fairdata-download-service/dev_config/fairdata-download-generator.env
WorkingDirectory=/opt/fairdata/fairdata-download-service
RuntimeDirectory=fairdata-download-generator
ExecStart=/bin/sh -c '/opt/fairdata/fairdata-download-service/dev_config/fairdata-download-generator.sh'

[Install]
WantedBy=multi-user.target
