# download.config
#
# Example local development configuration.
# 
# NOTE: Care should be taken to define values in this file in a manner
# which is compatible with both bash environment variable definitions,
# and python modules, so that the file can be utilized both by python
# and bash utilities.

ENVIRONMENT='DEV'

# Trusted services
TRUSTED_SERVICE_TOKEN="DEFINE_ME"

# Volumes
DOWNLOAD_CACHE_DIR='/opt/fairdata/fairdata-download-service/data/download-cache'
IDA_DATA_ROOT='/opt/fairdata/fairdata-download-service/data/ida-data'

# Database
DATABASE_FILE='/opt/fairdata/fairdata-download-service/data/db/download.db'

# Cache
CACHE_PURGE_THRESHOLD=1073741824 # 1GB
CACHE_PURGE_TARGET=786432000     # 750MB
ENABLE_CACHE_FILE_DELETION=False
ALWAYS_CALCULATE_CACHE_RANKING=False
ALWAYS_RUN_HOUSEKEEPING_IN_DOWNLOAD_ENDPOINT=False
ALWAYS_RUN_HOUSEKEEPING_IN_REQUEST_ENDPOINT=False

TASK_RETRY_DELAY=5

# Message queue
MQ_HOST='localhost'
MQ_VHOST='download'
MQ_USER='download'
MQ_PASS='DEFINE_ME'

# JWT
JWT_SECRET='DEFINE_ME'

# Metax
METAX_URL='https://metax.fd-test.csc.fi/'
METAX_USER='download'
METAX_PASS='DEFINE_ME'

FDWE_API="https://metrics.fairdata.fi:4444"
FDWE_TOKEN="DEFINE_ME"
