# download.config
#
# Example local development configuration.
# 
# NOTE: Care should be taken to define values in this file in a manner
# which is compatible with both bash environment variable definitions,
# and python modules, so that the file can be utilized both by python
# and bash utilities.

ENVIRONMENT='DEV'

DOWNLOAD_HOST='download.fd-dev.csc.fi'

# Trusted services
TRUSTED_SERVICE_TOKEN='DEFINE_ME'

# Volumes
DOWNLOAD_CACHE_DIR='/mnt/download-service-cache'
IDA_DATA_ROOT='/mnt/download-ida-storage'

# Database
DATABASE_FILE='/mnt/download-service-cache/download.db'

# Cache
CACHE_PURGE_THRESHOLD='1073741824' # 1GB
CACHE_PURGE_TARGET='786432000'     # 750MB
TASK_RETRY_DELAY='60'

# Message queue
MQ_HOST='download.fd-dev.csc.fi'
MQ_VHOST='download'
MQ_USER='download'
MQ_PASS='DEFINE_ME'

# JWT
JWT_SECRET='DEFINE_ME'

# IDA (used for automated tests)
IDA_API="https://ida.fd-dev.csc.fi/"
IDA_TEST_PROJECT='fd_test_download_project'
IDA_TEST_USER='fd_test_download_user'
IDA_TEST_PASS='DEFINE_ME'

# Metax
METAX_URL='https://metax.fairdata.fi/v3/'
METAX_PASS='DEFINE_ME'

FDWE_API='https://metrics.fairdata.fi:4444'
FDWE_TOKEN='DEFINE_ME'
